.k-list-horizontal .k-radio-item,
.k-radio-list .k-radio-item:first-child {
    margin: 0 12px 0 0;
}

.k-radio+.k-radio-label, .k-radio-label+.k-radio {
    margin-left: 6px;
}

/* test */
.wrap {
    display: flex;
    justify-content: space-between;
}
.payment-type input {
    visibility: hidden;
    position: absolute;
}

.visa {
    background-image: url(https://image.flaticon.com/icons/png/128/459/459263.png);
}
.mastercard {
    background-image: url(https://image.flaticon.com/icons/png/128/1032/1032889.png);
}


.payment-type input:active + .card {
    opacity: 0.9;
}
.payment-type input:checked + .card {
    filter: none;
}
.card {
    cursor: pointer;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 160px;
    height: 130px;
    border: 1px solid;
    filter: brightness(1.8) grayscale(1) opacity(0.7);
}
.card:hover {
    filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}
.card-number {
    width: 75%;
    margin-right: 25px;
}
/* /test */