<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <title> Claims </title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
    <body>
  <div class="container">
    <div class="title">Claim</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Claim Subject</span>
            <input [(ngModel)]="claim.subject_claim" name="claim-subject" type="text" placeholder="Enter your claim subject" required>
          </div>
          <div class="text-box">
            <span class="details">Claim Content</span>
            <textarea [(ngModel)]="claim.description_claim" name="claim-content" id="" cols="78" rows="10" placeholder="Enter your claim content" required></textarea>
          </div>
        </div>
        <div class="button">
          <button (click)="addClaim()" type="button" class="button">Submit Claim</button>
        </div>
      </form>
    </div>
  </div>
    </body>
  </html>