<html >

<head>
    <style>
        .money {
          background-color: rgb(1, 72, 75);
          color: rgb(255, 255, 255);
          border: 2px solid rgb(255, 120, 9);
          margin: 50px;
          padding: 20px;
          width : 50%;
        }
        .note {
         font-size: 120%;
         color: rgb(255, 255, 255);
        }
        .vert {
         font-size: 120%;
         color: rgb(30, 128, 0);
        }

        #myHeader {
         background-color: rgb(255, 174, 0);
         color: rgb(255, 255, 255);
         padding: 30px;
         text-align: center; 
        }


        .slidecontainer {
        width: 100%; 
        }

        .slider {
        -webkit-appearance: none;
        width: 50%;
        height: 25px;
        border-radius: 10px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        }

        .slider:hover {
        opacity: 1;
        }

        .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #04AA6D;
        cursor: pointer;
        }

        .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #04AA6D;
        cursor: pointer;
        }
        
        </style>




</head>

<body>
<section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single"><div class="note">We Make People Dreams Come True</div></h1>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->


          <!-- =======Team Section ======= -->
          <section class="section-agents section-t8">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                      <h2 class="title-a"><div class="note">NOS FORME DE CREDIT</div></h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="card-box-d">
                    <div class="card-img-d">
                      <img src="assets/img/post-1.jpg" alt="" class="img-d img-fluid">
                    </div>
                    <div class="card-overlay card-overlay-hover">
                      <div class="card-header-d">
                        <div class="card-title-d align-self-center">
                          <h3 class="title-d">
                            <a href="agent-single.html" class="link-two">CREDIT
                              <br> IMMOBILIER</a>
                          </h3>
                        </div>
                      </div>
                      <div class="card-body-d">
                        <p class="content-d color-text-a">
                          Our website will try to help you to make the perfect choice.
                        </p>
                        <div class="info-agents color-a">
                          <p>
                            <strong>Email: </strong> aziz.bejaoui@esprit.tn
                          </p>
                        </div>
                      </div>
                      <div class="card-footer-d">
                        <div class="socials-footer d-flex justify-content-center">
                          <ul class="list-inline">
                            <li class="list-inline-item">
                              <a href="https://www.w3.org/Style/Examples/007/fonts.fr.html" class="link-one">
                                <i class="bi bi-facebook" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <a href="#" class="link-one">
                                <i class="bi bi-twitter" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <a href="#" class="link-one">
                                <i class="bi bi-instagram" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <a href="#" class="link-one">
                                <i class="bi bi-linkedin" aria-hidden="true"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card-box-d">
                    <div class="card-img-d">
                      <img src="assets/img/post-2.jpg" alt="" class="img-d img-fluid">
                    </div>
                    <div class="card-overlay card-overlay-hover">
                      <div class="card-header-d">
                        <div class="card-title-d align-self-center">
                          <h3 class="title-d">
                            <a href="agent-single.html" class="link-two">CREDIT
                              <br> PERSONNELLE</a>
                          </h3>
                        </div>
                      </div>
                      <div class="card-body-d">
                        <p class="content-d color-text-a">
                          You can also get a credit for some personal purpose.
                        </p>
                        <div class="info-agents color-a">
                          <p>
                            <strong>Email: </strong> aziz.bejoaui@esprit.tn
                          </p>
                        </div>
                      </div>
                      <div class="card-footer-d">
                        <div class="socials-footer d-flex justify-content-center">
                          <ul class="list-inline">
                            <li class="list-inline-item">
                              <a href="#" class="link-one">
                                <i class="bi bi-facebook" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <a href="#" class="link-one">
                                <i class="bi bi-twitter" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <a href="#" class="link-one">
                                <i class="bi bi-instagram" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <a href="#" class="link-one">
                                <i class="bi bi-linkedin" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <a href="#" class="link-one">
                                <i class="bi bi-dribbble" aria-hidden="true"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card-box-d">
                    <div class="card-img-d">
                      <img src="assets/img/post-5.jpg" alt="" class="img-d img-fluid">
                    </div>
                    <div class="card-overlay card-overlay-hover">
                      <div class="card-header-d">
                        <div class="card-title-d align-self-center">
                          <h3 class="title-d">
                            <a href="agent-single.html" class="link-two">DARITN
                              <br> LES SOLUTIONS D’ÉPARGNE</a>
                          </h3>
                        </div>
                      </div>
                      <div class="card-body-d">
                        <p class="content-d color-text-a">
                            COMPAREZ LES SOLUTIONS D’ÉPARGNE DariTN.
                        </p>
                        <div class="info-agents color-a">
                          <p>
                            <strong>Email: </strong> aziz.bejaoui@esprit.tn
                          </p>
                        </div>
                      </div>
                      <div class="card-footer-d">
                        <div class="socials-footer d-flex justify-content-center">
                          <ul class="list-inline">
                            <li class="list-inline-item">
                              <a href="#" class="link-one">
                                <i class="bi bi-facebook" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <a href="#" class="link-one">
                                <i class="bi bi-twitter" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <a href="#" class="link-one">
                                <i class="bi bi-instagram" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <a href="#" class="link-one">
                                <i class="bi bi-linkedin" aria-hidden="true"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <a href="#" class="link-one">
                                <i class="bi bi-dribbble" aria-hidden="true"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section><!-- End About Section-->  


          
    <h1 id="myHeader"><b>Dari<span class="vert">TN</span> Credit Simulator </b></h1>


    <p><b><span class="note">DariTN MET À VOTRE DISPOSITION SON <b>SIMULATEUR DE CRÉDIT HABITATS</b> POUR VOUS AIDER DANS VOTRE DÉCISION.</span></b></p>
    <p><span class="note">Que ce soit pour l’acquisition de votre résidence principale ou secondaire, ou pour la construction de votre maison. Calculez le montant de vos mensualités selon le montant à emprunter et la durée du prêt pour financer votre logement en Tunisie.</span></p>
    
    <form> 
        <fieldset>

            <h1>Montant</h1>

            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                  <p> 100 <span id="demo"></span></p>
            </div>

            <script>
                var slider = document.getElementById("myRange");
                var output = document.getElementById("demo");
                output.innerHTML = slider.value;

                slider.oninput = function() {
                output.innerHTML = this.value;
                }
            </script>

           <legend> <b><span class="note">MENTIONS OBLIGATOIRE</span></b></legend>
               <div class="money">BANK TAUX NOMINAL: <input type="text" size="30" /> <br/></div>
               <div class="money">MONTANT DU CRÉDIT: <input type="text" size="30" /> <br/></div>
               <div class="money">DUREE DE REMBOURS: <input type="text" size="30" /> <br/></div>

               

        </fieldset>
        <fieldset>
        
            <legend><span class="note"> <b> MENTIONS FACULTATIVE</b></span></legend>
                <div class="money">ADRESSE EMAIL USER:<input type="text" size="30" /> <br/></div>

            <a href="aziz.bejaoui@esprit.tn">NOUS CONTACTER</a>

            <button onclick="displayResult()">LANCER SIMULATION</button>

            <script>
                 function displayResult() {
                  document.getElementById("money").innerHTML = "Have a nice day!";
}
            </script>

        
        </fieldset> </form>


        




          <!-- ======= Footer ======= -->
  <section class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">EstateAgency</h3>
            </div>
            <div class="w-body-a">
              <p class="w-text-a color-text-a">
                DariTn is a tunisian estate agency founded on 2021 by a team of tunisian engineers to make a big topic in our days look easier So welcome on our websit   .
              </p>
            </div>
            <div class="w-footer-a">
              <ul class="list-unstyled">
                <li class="color-a">
                  <span class="color-text-a">Phone .</span> +216 98989898
                </li>
                <li class="color-a">
                  <span class="color-text-a">Email .</span> aziz.bejaoui@esprit.tn
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">The Statical</h3>
            </div>
            <div class="w-body-a">
              <div class="w-body-a">
                <ul class="list-unstyled">
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="#">Number Of Banks</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="#">Number Of Estate Credit</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="#">Number Of Personal Credit</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="#">Number Of Savings Advices</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="#">Number Of All Credits</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="#">Privacy Policy</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">EstateAgency</span> All Rights Reserved.
            </p>
          </div>
          <div class="credits">
            Designed by <a>AzizBejaoui</a>
          </div>
        </div>
      </div>
    </div>
  </footer>




        




</body>
</html>