.myStyle{
    text-align: center; margin: 100px;
}
.style-mat-card{
    margin-top: 10px; width: 100%;
}

.card-box-d{
    
    display: inline-block;
    
    box-sizing: border-box;
    cursor: pointer;
    
    background-position: center;
    background-size: cover;

}