    <!-- ======= Property Search Section ======= -->
    <div class="click-closed"></div>
    <!--/ Form Search Star /-->
    <div class="box-collapse">
      <div class="title-box-d">
        <h3 class="title-d">Search Property</h3>
      </div>
      <span class="close-box-collapse right-boxed bi bi-x"></span>
      <div class="box-collapse-wrap form">
        <form class="form-a">
          <div class="row">
            <div class="col-md-12 mb-2">
              <div class="form-group">
                <label class="pb-2" for="Type">Keyword</label>
                <input type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword">
              </div>
            </div>
            <div class="col-md-6 mb-2">
              <div class="form-group mt-3">
                <label class="pb-2" for="Type">Type</label>
                <select class="form-control form-select form-control-a" id="Type">
                  <option>All Type</option>
                  <option>For Rent</option>
                  <option>For Sale</option>
                  <option>Open House</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-2">
              <div class="form-group mt-3">
                <label class="pb-2" for="city">City</label>
                <select class="form-control form-select form-control-a" id="city">
                  <option>All City</option>
                  <option>Alabama</option>
                  <option>Arizona</option>
                  <option>California</option>
                  <option>Colorado</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-2">
              <div class="form-group mt-3">
                <label class="pb-2" for="bedrooms">Bedrooms</label>
                <select class="form-control form-select form-control-a" id="bedrooms">
                  <option>Any</option>
                  <option>01</option>
                  <option>02</option>
                  <option>03</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-2">
              <div class="form-group mt-3">
                <label class="pb-2" for="garages">Garages</label>
                <select class="form-control form-select form-control-a" id="garages">
                  <option>Any</option>
                  <option>01</option>
                  <option>02</option>
                  <option>03</option>
                  <option>04</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-2">
              <div class="form-group mt-3">
                <label class="pb-2" for="bathrooms">Bathrooms</label>
                <select class="form-control form-select form-control-a" id="bathrooms">
                  <option>Any</option>
                  <option>01</option>
                  <option>02</option>
                  <option>03</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 mb-2">
              <div class="form-group mt-3">
                <label class="pb-2" for="price">Min Price</label>
                <select class="form-control form-select form-control-a" id="price">
                  <option>Unlimite</option>
                  <option>$50,000</option>
                  <option>$100,000</option>
                  <option>$150,000</option>
                  <option>$200,000</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-b">Search Property</button>
            </div>
          </div>
        </form>
      </div>
    </div><!-- End Property Search Section -->>
  
  <!-- ======= Header/Navbar ======= -->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" routerLink="/home">Dari<span class="color-b">TN</span></a>

      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">

          <div class="nav-item" routerLinkActive="active">
            <li class="nav-link " routerLink="/home"><i class="bi bi-house-door-fill"></i></li>
          </div>
          <li class="nav-item" routerLinkActive="active" *ngIf="showDashBoard">
            <a class="nav-link "  routerLink="/Dashboard" >Dashboard</a>
          </li>
          
          
         
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link "  routerLink="/about" >About</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link " routerLink="/property">Property</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link " routerLink="/bank">Bank</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link " routerLink="/TEST">TEST</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
            <div class="dropdown-menu">
              <a class="dropdown-item " routerLink="/Property-Single">Property Single</a>
              <a class="dropdown-item " routerLink="/Blog-Single">Blog Single</a>
              <a class="dropdown-item " routerLink="/Agents-Grid">Agents Grid</a>
              <a class="dropdown-item " routerLink="/Agent-Single">Agent Single</a>
            </div>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link " routerLink="/Contact">Contact</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link " routerLink="/Claims">Claims</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu">
              <!-- <a class="dropdown-item" routerLink="/User Profile">User Profile</a> -->
              <a class="dropdown-item" routerLink="/Sign In">Sign In</a>
              <a class="dropdown-item" routerLink="/Sign Up">Sign Up</a>
            </div>
          </li>
          <!-- <li class="nav-item" routerLinkActive="active">
            <a class="nav-link " routerLink="/Sign In">Sign In</a>
          </li> -->
        </ul>

      </div>

      <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">


      <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"  routerLinkActive="active" routerLink="/search"> 

        <i class="bi bi-search" ></i>
      </button>
      &nbsp;
      <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse" routerLinkActive="active" routerLink="/new-property" >
        <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success" ></span>

        <i class="bi bi-plus-circle"></i>
      

        <i class="fas fa-plus"></i>   
               

      </button>
       
      &nbsp;
      <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse" routerLinkActive="active" routerLink="/my-list-property" >
        <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success" ></span>
        <i class="fas fa-user-circle"></i>      </button>

        
    </button>    
    </div>
  </nav><!-- End Header/Navbar -->
  <!-- <div class="nav-item">
  <router-outlet></router-outlet>
</div> -->
