<app-search-component></app-search-component>
<app-navbar-component></app-navbar-component>
<app-intro-component></app-intro-component>
 
<app-service-component></app-service-component>
<app-latest-properties-component></app-latest-properties-component>
<app-agent-component></app-agent-component>
<app-latest-news-component></app-latest-news-component>
<app-testimonials-component></app-testimonials-component>
   
<div class="container">
    <header class="jumbotron">
      <p>{{ content }}</p>
    </header>
  </div>

<app-footer-component></app-footer-component>
 