<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <title> Claims </title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
    <body>
  <div class="container">
    <div class="title">Claim List {{numberClaims}}</div>  
    <div class="ref">
    <button (click)="refresh();" type="button" class="btn btn-success"><span class="material-icons">refresh</span> Refresh </button>
  </div>
    <br>
    <div class="body table-responsive">
    </div>
    <div class="body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
    <tbody>
        <tr *ngFor="let c of Tclaims | async">
            <th scope="row">{{c.id_claim}}</th>
            <td>{{c.subject_claim}}</td>
            <td>{{c.description_claim}}</td>
            <div class="button">
            <td><button (click)="deleteClaim(c.id_claim)" type="button" class="button">DELETE</button></td>
            </div>
        </tr>
    </tbody>
        </table>
    </div>
  </div>
    </body>
  </html>
 
<!--
  <button (click)="showPosition(position)" type="button" class="buon">GEO</button>

-->


